<div class="d-flex justify-content-center">
    <h2>Angular Assignments</h2>
</div>
<hr>
<br>
<div class="d-flex justify-content-center">
    <h3 style="margin-right: 10px;">1. </h3>
    <button class="btn btn-light btn-outline-primary" (click)="onEmployeeClick()" >
        Employee App
    </button>
    <button class="btn btn-light btn-outline-primary" (click)="onCustomerClick()">
        Customer App
    </button>
</div>
<br>
<hr>
<br>
<div class="d-flex justify-content-center">
    <h3 style="margin-right: 10px;">2. </h3>
    <button class="btn btn-light btn-outline-dark" routerLink="/proj2">
        Parent Child Relationship
    </button>
</div>
<br>
<hr>
<br>
<div class="d-flex justify-content-center">
    <h3 style="margin-right: 10px;">3. </h3>
    <button class="btn btn-dark" routerLink="/proj3">
        Games Viewer
    </button>
</div>
<br>
<hr>
<br>
<div class="d-flex justify-content-center">
    <h3 style="margin-right: 10px;">4. </h3>
    <button class="btn btn-dark" routerLink="/proj4">
        Character limit text area
    </button>
</div>
<br>
<hr>
<br>
<div class="d-flex justify-content-center">
    <h3 style="margin-right: 10px;">5. </h3>
    <button class="btn btn-dark" (click)="onFilterClick()">
        Custom Pipe to filter
    </button>
</div>
<br>
<hr>
<br>
